
@{
    ViewBag.Title = "TeacherMain";
}
<div>
    <h2>TeacherMain</h2>
    <input type="button" id="btnHey" onclick="onClickBtn()" />
</div>

<script src="~/Scripts/JS/Teacher/TeacherMain.js"></script>